<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LIFE</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/static/styles.css" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100;1,400&family=Roboto:ital,wght@0,100;0,700;1,100;1,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
      <div class="container">
        <div class="float-left logo">
          <a href="#header"><img src="../assets/images/logo.png" alt="where"></a>
        </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="./index.html">Life Org</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./newsfeed.html">News Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contact.html">Contact</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
    <main class="container-fluid">
      <section class="text-center">
        <img
          src="../assets/images/Life(Cover).png"
          alt="Living is for Everyone"
          class="image-fluid rounded mx-auto d-block"
          width="900" length="800"
        />
      </section>

      <section class="mx-auto p-3">
        <p>
          LIFE is a Non-Profit and Non-Governmental Organization that aims to 
          contribute towards an efficient planet. Hence, fundamentally assisting 
          the global citizens of the world and Bangladesh by solely focusing on 
          the 17 SDG's by United Nations
        </p>
        <p>
          "Living Is For Everyone", abbreviated as "LIFE", is an organization 
          that will dedicate all of its efforts in order to achieve all of the 
          sustainable development goals. In the process build a strong foundation,
          both at the domestic and international level, in order to provide an 
          efficient and sustainable standard of living to the global citizens 
          in need.
        </p>
        <p>
          By protecting the synchronized progression of each of the 'Sustainable 
          Development Goals' for an appreciated future, we will consolidate the 
          fight against human sustainability in the planet. LIFE will constantly 
          devote itself to maintain its extensive working hours. Life aims to 
          collaborate with the organizations of the world to secure a remedial 
          action, both at a governmental and grass-root level.
         </p>
        <p>Life also intents to create a rapid action platform for any 
          humanitarian needs in case of emergencies</p>
      </section>
    </main>
    <div class="p-4 bg-primary text-white text-center" id="newcollection">
      <h1>Our Projects</h1>
      <p>Check out our projects</p>
    </div>
    <section class="container-fluid p-4 w-50">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100 clothing-card">
            <img src="../assets/images/group.png" class="card-img-top" alt="Project X" />
            <div class="card-body">
              <h5 class="card-title">T-Shirt</h5>
              <p class="card-text">
                A style of fabric shirt named after the T shape of its body and
                sleeves.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 clothing-card">
            <img src="../assets/images/group.png" class="card-img-top" alt="Project Y" />
            <div class="card-body">
              <h5 class="card-title">Sweater</h5>
              <p class="card-text">
                A piece of clothing, typically with long sleeves, made of
                knitted or crocheted material, that covers the upper part of the
                body.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 clothing-card">
            <img src="../assets/images/group.png" class="card-img-top" alt="Project Z" />
            <div class="card-body">
              <h5 class="card-title">Jacket.</h5>
              <p class="card-text">
                Typically has sleeves, and fastens in the front or slightly on
                the side.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 clothing-card">
              <img src="../assets/images/group.png" class="card-img-top" alt="Project A" />
              <div class="card-body">
              <h5 class="card-title">Coat</h5>
              <p class="card-text">
                A garment worn on the upper body by either gender for warmth or
                fashion.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 clothing-card">
            <img src="../assets/images/group.png" class="card-img-top" alt="Project B" />
            <div class="card-body">
              <h5 class="card-title">Jeans</h5>
              <p class="card-text">
                A type of pants or trousers, typically made from denim or
                dungaree cloth.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br />
    </section>

    <section class="video">
      <div class="video-overlay"></div>
      <div class="container">
        <div class="video-btn wow zoomIn">
          <a href="https://www.facebook.com/Life.bd.org">VIEW OUR VIDEO</a>
        </div>
      </div>
    </section>

    <section class="text-center">
      <p class="lead">Fashions fade, style is eternal.</p>
      <blockquote class="blockquote">
        <p>You can have anything you want in life if you dress for it.</p>
        <footer class="blockquote-footer">your Mom</footer>
      </blockquote>
    </section>

    <section class="text-center">
      <label for="Clothing">Store</label>
      <select id="Clothing">
        <optgroup label="For Everyone">
          <option value="none">None</option>
          <option value="men">Men</option>
          <option value="women">Women</option>
          <option value="kids">Kids</option>
          <option value="unisex">Unisex</option>
          <option value="accessories">Accessories</option>
        </optgroup>
      </select>
    </section>

    <br /><br/>
    <div class="container-fluid text-center mb-5">
      <p><em>For more information contact us immediately!</em></p>
      <a href="#contact"><button class="btn btn-primary text-white p-3">
        Click To Subscribe to our Newsletter
      </button></a>
    </div>
    
  
    <footer class="text-center text-white" style="background-color: #21081a" id="footer">
      <div class="container" style="background-color: rgba(0, 0, 0, 0.2)">
        <div class="row" style="background-color: rgba(0, 0, 0, 0.2)">
          <div class="col-12 col-lg-4 wow zoomIn" style="background-color: rgba(0, 0, 0, 0.2)">
            <div class="footer-info">
              <a href="#"><img src="../assets/images/logo.png" alt="logo"></a>
              <p>Pconvallis at tellus.Pellentesque in ipsum id orci porta dapibus.</p>
              <p>Inspired by <a href="https://github.com/WMK15/wmk15.github.io">WMK</a> Dhaka,Bangladesh </p>
              <p>© 2021 Copyright</p>
            </div>
          </div>
          <div class="col-12 col-lg-2 wow zoomIn">
            <ul class="footer-links">
              <li><p>Links</p></li>
              <li><a href="#">Home</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Terms and Conditions</a></li>
            </ul>
          </div>
          <div class="col-12 col-lg-2 wow zoomIn">
            <ul class="footer-links">
              <li><p>About Us</p></li>
              <li><a href="#">Sign In</a></li>
              <li><a href="#">Register</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="contact.html">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-12 col-lg-4 wow zoomIn">
            <div class="footer-contact">
              <p>Contact Us</p>
              <p>Get in touch with us via mail phone.We are waiting for your call or message.</p>
              <div class="footer-btn">
                <a href="contact.html">Contact Us</a>
              </div>
              <div class="social">
                <ul>
                  <li><a href="https://www.facebook.com/Life.bd.org"><img src="../assets/images/facebook.png" alt="Facebook" 
                    width="32" 
                    height="32"></a></li>
                  <li><a href="https://instagram.com/life.org.bd?utm_medium=copy_link"><img src="../assets/images/instagram.png" alt="Instagram"
                    width="32" 
                    height="32"></a></li>
                  <li><a href="https://www.linkedin.com/company/lifebdorg"><img src="../assets/images/linkedin.png" alt="LinkedIn"
                    width="32" 
                    height="32"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
