<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LIFE</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/static/styles.css" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100;1,400&family=Roboto:ital,wght@0,100;0,700;1,100;1,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
      <div class="container">
        <div class="float-left logo">
          <a href="#header"><img src="../assets/images/logo.png" alt="where"></a>
        </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="./index.html">Life Org</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./newsfeed.html">News Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contact.html">Contact</a>
            </li>
        </ul>
    </div>
  </div>
</nav>


            <section class="video">
                <div class="video-overlay"></div>
                <div class="container">
                  <div class="video-btn wow zoomIn">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2FLife.bd.org%2Fvideos%2F636030977772798%2F&show_text=false&width=476&t=0"
                     width="476" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" 
                     allowFullScreen="true"></iframe>
                  </div>
                </div>
              </section>

            <section class="image">
                <div class="image-overlay"></div>
                <div class="container">
                  <div class="video-btn wow zoomIn">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FLife.bd.org%2Fposts%2F213692074278160&show_text=false&width=500" 
                    width="500" height="498" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; 
                    picture-in-picture; web-share"></iframe>
                  </div>
                </div>
              </section> 
                    
            <section class="image">
               <div class="image-overlay"></div>
               <div class="container">
                  <div class="video-btn wow zoomIn">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FLife.bd.org%2Fposts%2F211484991165535&show_text=false&width=500" 
                    width="500" height="706" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; 
                    encrypted-media; picture-in-picture; web-share"></iframe>
                  </div>
               </div>
            </section>       

            <section class="image">
               <div class="image-overlay"></div>
               <div class="container">
                  <div class="video-btn wow zoomIn">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FLife.bd.org%2Fposts%2F212676131046421&show_text=false&width=500" 
                    width="500" height="498" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; 
                    picture-in-picture; web-share"></iframe>
                  </div>
                </div>
            </section>
                    
